<!doctype html>
<html>

  <head>
    <title>Job Hunt App</title>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>

    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

    <nav class="navbar" id="top">
      <ul>
        <li><i class="fas fa-plus-circle"></i> Add</li>
        <li><i class="fas fa-search"></i> Search</li>
        <a href="/logout"><li><i class="fas fa-sign-out-alt"></i> Log Out</li></a>
      </ul>
    </nav>

    <nav class="navbar" id="sidebar">
        <ul>

          <li>Jobs
            <ul>
              <a href="/dashboard/jobs"><li>Active Jobs</li></a>
              <a href="/dashboard/jobs/archived"><li>Archived</li></a>
            </ul>
          </li>

          <li>Tasks
            <ul>
              <a href="/dashboard/tasks"><li>Active Tasks</li></a>
              <a href="/dashboard/tasks/archived"><li>Archived</li></a>
            </ul>
          </li>

          <li><a href="/dashboard/companies">Companies</a></li>
          <li><a href="/dashboard/contacts">Contacts</a></li>
          <li><a href="/dashboard/profile">Profile</a></li>
        </ul>
    </nav>

    {% block content %} put your content here {% endblock %}

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
