{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row"><h5>{{ company.name }}</h5></div>

  {% if edit == "edits-on" %}
    <!-- EDIT MODE -->
    <form action="/dashboard/companies/{{ company.company_id }}" method="POST">

      <div class="form-group">
        <label>Street:</label>
        <input type="text" class="form-control" name="street" value="{{ company.street }}">
      </div>

      <div class="form-group">
        <label>City:</label>
        <input type="text" class="form-control" name="city" value="{{ company.city }}">
      </div>

      <div class="form-group">
        <label>State:</label>
        <input type="text" class="form-control" name="state" value="{{ company.state }}">
      </div>

      <div class="form-group">
        <label>Zipcode:</label>
        <input type="text" class="form-control" name="zipcode" value="{{ company.zipcode }}">
      </div>

      <div class="form-group">
        <label>Website:</label>
        <input type="text" class="form-control" name="website" value="{{ company.website }}">
      </div>

      <div class="form-group">
        <label>Notes: </label></p>
        <textarea class="form-control" rows="3" name="notes">{{ company.notes }}</textarea>
      </div>

      <div class="row">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-off">submit</button>
      </div>

    </form>
  </div>

  {% else %}
    <!-- STATIC MODE -->
    <div class="row">{{ company.street }}</div>
    <div class="row">{{ company.city }}, {{ company.state }} {{ company.zipcode }}</div>
    <div class="row">{{ company.website }}</div>
    <div class="row">
      <p><label>Notes: </label></p>
      {% if company.notes == None %}
        <p>--</p>
      {% else %}
        <p>{{ company.notes }}</p>
      {% endif %}
    </div>
    <div class="row">
      <form action="/dashboard/companies/{{ company.company_id }}" method="GET">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-on">edit</button>
      </form>
    </div>
  </div>
  <br>

    <div class="container">
      <div class="row"><h5>Active Jobs</h5></div>
      <div class="row">
        <ul>
          {% for job in company.jobs|sort(attribute = 'title') %}
            {% if job.active_status %}
            <li>{{ job.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>

    <div class="container">
      <div class="row"><h5>Archived Jobs</h5></div>
      <div class="row">
        <ul>
          {% for job in company.jobs|sort(attribute = 'title') %}
            {% if not job.active_status %}
              <li>{{ job.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

{% endblock %}
