{% extends 'base.html' %}

{% block content %}

<div class="container" style="min-height: 100%, height:100%">
  <div class="row"><h5>{{ company.name }}</h5></div>

  {% if edit == "edits-on" %}
    <!-- EDIT MODE -->
    <form action="/dashboard/companies/{{ company.company_id }}" method="POST">

      <div class="form-group">
        <label>Street:</label>
        <input type="text" class="form-control" name="street" value="{{ company.street if company.street != None else "" }}">
      </div>

      <div class="form-group">
        <label>City:</label>
        <input type="text" class="form-control" name="city" value="{{ company.city if company.city != None else "" }}">
      </div>

      <div class="form-group">
        <label class="control-label">State:</label>
        <select class="form-control" name="state">
          {% for state in states %}
            <option value="{{ state }}">{{ state }}</option>
            {% if state == company.state %}
              <option selected value="{{ state }}">{{ state }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Zipcode:</label>
        <input type="text" class="form-control" name="zipcode" value="{{ company.zipcode if company.zipcode != None else "" }}" maxlength="5">
      </div>

      <div class="form-group">
        <label>Website:</label>
        <input type="text" class="form-control" name="website" value="{{ company.website if company.website != None else "" }}">
      </div>

      <div class="form-group">
        <label>Notes: </label></p>
        <textarea class="form-control" rows="3" name="notes">{{ company.notes if company.notes != None else "" }}</textarea>
      </div>

      <div class="row">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-off">submit</button>
      </div>

    </form>
  </div>

  {% else %}
    <!-- STATIC MODE -->
    <div class="row">Address:</div>
    <div class="row">{{ company.street if company.street != None else "" }}</div>
    <div class="row">{{ company.city if company.city != None else "" }}, {{ company.state if company.state != None else "" }} {{ company.zipcode if company.zipcode != None else "" }}</div>
    <div class="row"><label>Website: </label><a href="{{ company.website if company.website != None else ""}}" target="_blank">{{ company.website if company.website != None else "" }}</a></div>
    <div class="row"><label>Notes: </label>{{ company.notes if company.notes != None else "" }}
    </div>
    <div class="row">
      <form action="/dashboard/companies/{{ company.company_id }}" method="GET">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-on">edit</button>
      </form>
    </div>
  </div>
  <br>

  {% if active_jobs %}
    <div class="container">
      <div class="row"><h5>Active Jobs</h5></div>
      <div class="row">
        <ul>
          {% for job in active_jobs|sort(attribute = 'title') %}
              <li>
                <form action="/dashboard/jobs/{{ job.job_id }}" method="GET">
                  <input type="hidden" name="edit" value="edits-off">
                  <button type="button submit" class="btn btn-link">{{ job.title }}</button>
                </form>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
  {% endif %}


  {% if archived_jobs %}
    <div class="container">
      <div class="row"><h5>Archived Jobs</h5></div>
      <div class="row">
        <ul>
          {% for job in archived_jobs|sort(attribute = 'title') %}
            <li>
              <form action="/dashboard/jobs/{{ job.job_id }}" method="GET">
                <input type="hidden" name="edit" value="edits-off">
                <button type="button submit" class="btn btn-link">{{ job.title }}</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

    {% if company.contacts %}
      <div class="container">
        <div class="row"><h5>Contacts</h5></div>
        <div class="row">
          <ul>
            {% for contact in company.contacts|sort(attribute = 'lname') %}
              <li>
                <form action="/dashboard/contacts/{{ contact.contact_id }}" method="GET">
                  <input type="hidden" name="edit" value="edits-off">
                  <button type="button submit" class="btn btn-link">{{ contact.fname }} {{ contact.lname }}</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}
