{% extends 'base.html' %}

{% block content %}

<div class="row">
  <h5>Add a company</h5>
</div>

<form action="/dashboard/companies/add" method="POST">

  <!-- COMPANY NAME -->
  <div class="form-group">
    <label>Company name:</label>
    <input type="text" class="form-control" name="name" placeholder="Really cool company" required />
  </div>

  <!-- STREET ADDRESS -->
  <div class="form-group">
    <label>Street:</label>
    <input type="text" class="form-control" name="street">
  </div>

  <!-- CITY -->
  <div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city">
  </div>

  <!-- STATE -->
  <div class="form-group">
    <label>State:</label>
    <input type="text" class="form-control" name="state" maxlength="2">
  </div>

  <!-- ZIPCODE -->
  <div class="form-group">
    <label>Zipcode:</label>
    <input type="text" class="form-control" name="zipcode" maxlength="5">
  </div>

  <!-- WEBSITE -->
  <div class="form-group">
    <label>Website:</label>
    <input type="text" class="form-control" name="website">
  </div>

  <!-- NOTES -->
  <div class="form-group">
    <label>Notes: </label></p>
    <textarea class="form-control" rows="3" name="notes" placeholder="This company has all the free donuts I could ever eat!"></textarea>
  </div>

  <!-- BUTTON -->
  <div class="form-group">
    <button type="button submit" class="btn btn-secondary btn-sm">submit</button>
  </div>

</form>

{% endblock %}
