{% extends 'base.html' %}

{% block content %}

<table class="table">
  <!-- HEADERS -->
  <thead>
    <tr>
      <th scope="col-2">First</th>
      <th scope="col-2">Last</th>
      <th scope="col">Company</th>
    </tr>
  </thead>

  <!-- CONTACTS -->
  <tbody>
    {% for contact in contacts %}
      <tr>

        <!-- FIRST NAME -->
        <td>
          <form action="/dashboard/contacts/{{ contact.contact_id }}" method="GET">
            <input type="hidden" name="edit" value="edits-off">
            <button type="button submit" class="btn btn-link">{{ contact.fname }}</button>
          </form>
        </td>

        <!-- LAST NAME -->
        <td>
          <form action="/dashboard/contacts/{{ contact.contact_id }}" method="GET">
            <input type="hidden" name="edit" value="edits-off">
            <button type="button submit" class="btn btn-link">{{ contact.lname }}</button>
          </form>
        </td>

        <!-- COMPANY NAME -->
        <td>
          <a href="/dashboard/companies/{{ contact.companies.company_id }}">
            {{ contact.companies.name }}
          </a>
        </td>

      </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}
