{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <!-- JOB TITLE HEADER -->
    <div class="col-8">
      <h5>{{ job.title }}</h5>
    </div>

    <!-- ACTIVE STATUS MENU -->
    <div class="col-2">
      {% if job.active_status == True %}
        <div class="dropdown">
          <form action="/dashboard/job-status" method="POST">

            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ job_status[0].job_codes.description }}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <input type="hidden" name="job_id" value="{{ job.job_id }}">

              <button class="dropdown-item submit" type="submit" name="job_code" value="1">
                Interested
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="2">
                Applied
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="3">
                Phone interview
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="4">
                On-site interview
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="5">
                Received offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="6">
                Accepted offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="7">
                Declined offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="8">
                No job offer
              </button>
            
            </div>
          </form>
        </div>

      <!-- ARCHIVED STATUS MENU -->
      {% else %}
        {{ job_status[0].job_codes.description }}
      {% endif %}
    </div>
    
  </div>

  <!-- COMPANY NAME -->
  <div class="row">
    <a href="/dashboard/companies/{{ job.company_id }}">{{ job.companies.name }}</a>
  </div>


  <!-- JOB POSTING LINK -->
  <div class="row" id="job-posting">
    Job posting: <a href="{{ job.link if job.link != None else "" }}" target="_blank"><span id="jobPosting">{{ job.link if job.link != None else "" }}</span></a>
  </div>

  <!-- AVERAGE SALARY -->
  <div class="row" id="avg-salary">
    Average salary: <span id="averageSalary">{{ job.avg_salary if job.avg_salary != None else "" }}</span>

    {% if not job.avg_salary %}
      <!-- FORM TO SELECT SALARY -->
      <form id="submitSalaryInfo" action="/dashboard/jobs/salary" method="post">

        <!-- SALARY METRO AREA SELECTION -->
        <div id="metroDiv" class="form-group">
          <select class="form-control" name="metro" id="metro-field">
            <option selected>Metro area</option>
            {% for metro in metros %}
              <option value="{{ metro[0] }}">{{ metro[0] }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- SALARY JOB TITLE SELECTION -->
        <div id="jobTitleDiv" class="form-group">
          <select class="form-control" name="job_title" id="job-title-field">
            <option selected>Job title</option>
            {% for job_title in job_titles %}
              <option value="{{ job_title[0] }}">{{ job_title[0] }}</option>
            {% endfor %}
          </select>
        </div>

        <input type="hidden" name="job_id" id="job-id-field" value="{{ job.job_id }}">
        <input type="submit" class="btn btn-secondary btn-sm" id="salaryButton">
      </form>
    {% endif %}
  </div>

  <!-- NOTES -->
  <div class="row" id="notes">
    <label>Notes: </label><span id="jobNotes">{{ job.notes if job.notes != None else "" }}</span>
  </div>

  <!-- EDIT BUTTON -->
  <div class="row">
    <button id="toggleEditButton" type="button" class="btn btn-secondary btn-sm">
      edit
    </button>
  </div>

  <!-- FORM TO EDIT JOB INFO -->
  <div class="row" id="edit-fields">
    <form id="submitJobEdits" action="/dashboard/jobs/edit" method="post">
      <div class="form-group">
        <label>Job posting: </label>
        <input id="job-link-field" type="text" class="form-control" name="link" value="{{ job.link if job.link != None else "" }}" />
      </div>

      <div class="form-group">
        <label>Average salary: </label>
        <input id="avg-salary-field" type="text" class="form-control" name="avg_salary" value="{{ job.avg_salary if job.avg_salary != None else "" }}" />
      </div>

      <div class="form-group">
        <label>Notes: </label>
        <textarea id="job-notes-field" class="form-control" rows="3" name="notes">{{ job.notes if job.notes != None else "" }}</textarea>
      </div>

      <input type="hidden" name="job_id" id="job-id-field" value="{{ job.job_id }}">
      <input type="submit" class="btn btn-secondary btn-sm" />
    </form>
  </div>

  <br>

  <!-- EVENTS -->
  <div id="jobEventsTasks" class="row">
    <table>

      <!-- HEADER -->
      <th>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Task</th>
          <th scope="col">Due</th>
        </tr>
      </th>

      <tbody>
        <!-- LOOP THROUGH STATUS LIST -->
        {% for status in job_status %}
          <tr>

            <!-- DATE -->
            <td>
              {{ status.date_created.strftime('%-m/%-d/%y') }}
            </td>

            <!-- STATUS -->
            <td>
              {{ status.job_codes.description }}
            </td>

            <!-- TODO TASK -->
              {% for todo in all_todos %}
                {% if todo.job_event_id == status.job_event_id %}
                  {% if todo.active_status %}
                    <td class="active-task">
                      {{ todo.todo_codes.description}}
                    </td>
                  {% else %}
                    <td class="archived-task">
                      <strike>{{ todo.todo_codes.description}}</strike>
                    </td>
                  {% endif %}
                {% endif %}
              {% endfor %}

            <!-- DUE DATE -->
              {% for todo in all_todos %}
                {% if todo.job_event_id == status.job_event_id %}
                  {% if todo.active_status %}
                    <td class="active-task">
                      {{ todo.date_due.strftime('%-m/%-d/%y') }}
                      <form action="/dashboard/archive-task" method="POST">
                        <button class="btn" type="submit">
                          <input type="hidden" name="todo_id" value="{{ todo.todo_id }}">
                          <i class="fas fa-archive"></i>
                        </button>
                      </form>
                    </td>
                  {% else %}
                    <td class="archived-task">
                      <strike>{{ todo.date_due.strftime('%-m/%-d/%y') }}</strike>
                    </td>
                  {% endif %}
                {% endif %}
              {% endfor %}

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<!-- SALARY PICKER AJAX SCRIPT -->
<script type="text/javascript">

  function showSalary(results) {
    $('#averageSalary').html(results);
    $('#metroDiv').hide();
    $('#jobTitleDiv').hide();
    $('#salaryButton').hide();
  }

  function getSalary(e) {
    console.log(e);
    e.preventDefault();

    const formInputs = {
      'metro': $('#metro-field').val(),
      'job_title': $('#job-title-field').val(),
      'job_id': $('#job-id-field').val(),
    };

    $.post('/dashboard/jobs/salary',
           formInputs,
           showSalary);
  }

  $('#submitSalaryInfo').on('submit', getSalary);

</script>

<!-- JOB INFO EDITING SCRIPT -->
<script type="text/javascript">

  function showJobInfo(results) {
    $('#job-posting').show();
    $('#avg-salary').show();
    $('#notes').show();
    $('#edit-fields').hide();
    $('#jobEventsTasks').show();
    $('#jobPosting').html(results['link']);
    $('#averageSalary').html(results['avg_salary']);
    $('#jobNotes').html(results['notes']);
  }

  function getJobEdits(e) {
    console.log(e);
    e.preventDefault();

    const formInputs = {
      'link': $('#job-link-field').val(),
      'avg_salary': $('#avg-salary-field').val(),
      'notes': $('#job-notes-field').val(),
      'job_id': $('#job-id-field').val(),
    };

    $.post('/dashboard/jobs/edit',
           formInputs,
           showJobInfo,
    );
  }

  $('#submitJobEdits').on('submit', getJobEdits);

</script>

<!-- JOB EDITS ON/OFF SCRIPT -->
<script>
  function toggleEditFields(e) {
    console.log(e);
    e.preventDefault();
    $('#job-posting').toggle();
    $('#avg-salary').toggle();
    $('#notes').toggle();
    $('#edit-fields').toggle();
    $('#jobEventsTasks').toggle();
  }

  $('#toggleEditButton').on('click', toggleEditFields);

</script>

{% endblock %}








































