{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <!-- JOB TITLE HEADER -->
    <div class="col-8">
      <h5>{{ job.title }}</h5>
    </div>

    <!-- ACTIVE STATUS MENU -->
    <div class="col-2">
      {% if job.active_status == True %}
        <div class="dropdown">
          <form action="/dashboard/job-status" method="POST">

            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ job_status[0].job_codes.description }}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <input type="hidden" name="job_id" value="{{ job.job_id }}">

              <button class="dropdown-item submit" type="submit" name="job_code" value="1">
                Interested
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="2">
                Applied
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="3">
                Phone interview
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="4">
                On-site interview
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="5">
                Received offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="6">
                Accepted offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="7">
                Declined offer
              </button>

              <button class="dropdown-item submit" type="submit" name="job_code" value="8">
                No job offer
              </button>
            
            </div>
          </form>
        </div>

      <!-- ARCHIVED STATUS MENU -->
      {% else %}
        {{ job_status[0].job_codes.description }}
      {% endif %}
    </div>
    
  </div>

  <!-- COMPANY NAME -->
  <div class="row">
    <a href="/dashboard/companies/{{ job.company_id }}">{{ job.companies.name }}</a>
  </div>

  {% if edit == "edits-on" %}
    <!-- EDIT MODE -->
    <form action="/dashboard/jobs/{{ job.job_id }}" method="POST">

      <div class="form-group">
        <label>Job posting: </label>
        <input type="text" class="form-control" name="link" value="{{ job.link if job.link != None else "" }}">
      </div>

      <div class="form-group">
        <label>Average salary: </label>
        <input type="text" class="form-control" name="avg_salary" value="{{ job.avg_salary if job.avg_salary != None else "" }}">
      </div

      <div class="form-group">
        <label>Notes: </label></p>
        <textarea class="form-control" rows="3" name="notes">{{ job.notes if job.notes != None else "" }}</textarea>
      </div>

      <div class="row">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-off">submit</button>
      </div>

    </form>
  </div>

  {% else %}
    <!-- STATIC MODE -->
  <div>
    <!-- JOB TITLE -->
    <div class="row">
      Job posting: <a href="{{ job.link if job.link != None else "" }}" target="_blank">{{ job.link if job.link != None else "" }}</a>
    </div>

    <div class="row">

      Average salary: {{ job.avg_salary if job.avg_salary != None else "" }}<span id="averageSalary"></span>

      {% if not job.avg_salary %}

        <!-- FORM TO SELECT SALARY -->
        <form id="submitSalaryInfo" action="/dashboard/jobs/salary" method="post">

          <!-- SALARY METRO AREA SELECTION -->
            <div id="metroDiv" class="form-group">
              <select class="form-control" name="metro" id="metro-field">
                <option selected>Metro area</option>
                {% for metro in metros %}
                  <option value="{{ metro[0] }}">{{ metro[0] }}</option>
                {% endfor %}
              </select>
            </div>

            <!-- SALARY JOB TITLE SELECTION -->
            <div id="jobTitleDiv" class="form-group">
              <select class="form-control" name="job_title" id="job-title-field">
                <option selected>Job title</option>
                {% for job_title in job_titles %}
                  <option value="{{ job_title[0] }}">{{ job_title[0] }}</option>
                {% endfor %}
              </select>
            </div>

            <input type="hidden" name="job_id" id="job-id-field" value="{{ job.job_id }}">

            <input type="submit" class="btn btn-secondary btn-sm" id="salaryButton">

        </form>

        <script type="text/javascript">

        function showSalary(results) {
          $('#averageSalary').html(results);
          $('#metroDiv').hide();
          $('#jobTitleDiv').hide();
          $('#salaryButton').hide();
        }

        function getSalary(e) {
          console.log(e);
          e.preventDefault();

          const formInputs = {
            'metro': $('#metro-field').val(),
            'job_title': $('#job-title-field').val(),
            'job_id': $('#job-id-field').val(),
          };

          $.post('/dashboard/jobs/salary',
                 formInputs,
                 showSalary);
        }

        $('#submitSalaryInfo').on('submit', getSalary);

        </script>



      {% endif %}
    </div>

    <!-- NOTES -->
    <div class="row">
      <label>Notes: </label>{{ job.notes if job.notes != None else "" }}
    </div>

    <!-- EDIT BUTTON -->
    <div class="row">
      <form action="/dashboard/jobs/{{ job.job_id }}" method="GET">
        <button type="button submit" class="btn btn-secondary btn-sm" name="edit" value="edits-on">edit</button>
      </form>
    </div>

  </div>
  <br>

  <!-- EVENTS -->
  <table>

    <!-- HEADER -->
    <th>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Task</th>
        <th scope="col">Due</th>
      </tr>
    </th>

    <tbody>
      <!-- LOOP THROUGH STATUS LIST -->
      {% for status in job_status %}
        <tr>

          <!-- DATE -->
          <td>
            {{ status.date_created.strftime('%-m/%-d/%y') }}
          </td>

          <!-- STATUS -->
          <td>
            {{ status.job_codes.description }}
          </td>

          <!-- TODO -->
          <td>
            {% for todo in all_todos %}
              {% if todo.job_event_id == status.job_event_id %}
                {% if todo.active_status %}
                  {{ todo.todo_codes.description}}
                {% else %}
                  <strike>{{ todo.todo_codes.description}}</strike>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for todo in all_todos %}
              {% if todo.job_event_id == status.job_event_id %}
                {% if todo.active_status %}
                  {{ todo.date_due.strftime('%-m/%-d/%y') }}
                  <form action="/dashboard/archive-task" method="POST">
                    <button class="btn" type="submit">
                      <input type="hidden" name="todo_id" value="{{ todo.todo_id }}">
                      <i class="fas fa-archive"></i>
                    </button>
                  </form>
                {% else %}
                  <strike>{{ todo.date_due.strftime('%-m/%-d/%y') }}</strike>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}

{% endblock %}








































