{% extends 'base.html' %}

{% block content %}

<div class="row">
  <h5>Add a job</h5>
</div>

<form action="/dashboard/jobs/add" method="POST">

  <!-- COMPANY -->
  <div class="form-group">
    <label class="control-label">Company:</label>

      <!-- SELECT MENU -->
      <select class="form-control" name="company_info">
        <option selected value>Select existing company</option>
        {% for company in companies %}
          <option value="{{ company.company_id }}" >{{ company.name }}</option>
        {% endfor %}  
      </select><br>

      <!-- TEXT INPUT -->
      <input type="text" class="form-control" name="company_info" placeholder="Really cool company">

  </div>

  <!-- JOB TITLE -->
  <div class="form-group">
    <label class="control-label">Job title:</label>
    <input type="text" class="form-control" name="job_title" placeholder="Your dream job" required />
  </div>

  <!-- JOB STATUS -->
  <div class="form-group">
    <label class="control-label">Job status:</label>
    <select class="form-control" name="job_status" required />
      <option value="1">Interested</option>
      <option value="2">Applied</option>
      <option value="3">Phone interview</option>
      <option value="4">On-site interview</option>
      <option value="5">Received offer</option>
      <option value="6">Accepted offer</option>
      <option value="7">Declined offer</option>
      <option value="8">No job offer</option>            
    </select>
  </div>

  <!-- JOB LINK -->
  <div class="form-group">
    <label class="control-label">Link:</label>
    <input type="text" class="form-control" name="job_link" placeholder="your-job-url.com">
  </div>

  <!-- NOTES -->
  <div class="form-group">
    <label class="control-label">Notes:</label>
    <input type="textarea" class="form-control" name="job_notes" placeholder="This job has all the free donuts I could ever eat!">
  </div>

  <!-- BUTTON -->
  <div class="form-group">
    <button type="button submit" class="btn btn-secondary btn-sm">submit</button>
  </div>

</form>


{% endblock %}