{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-2" align="center"><h5>Company</h5></div>
    <div class="col-2" align="center"><h5>Job</h5></div>
    <div class="col-2" align="center"><h5>Status</h5></div>
    <div class="col-2" align="center"><h5>Date</h5></div>
    <div class="col-2" align="center"><h5>Notes</h5></div>
  </div>
  <div><hr></div>

  {% for job, company in all_archived.items() %}
    <div class="row">
      <div class="col-2" align="center">
        <a href="/dashboard/companies/{{ company.company_id }}">{{ company.name }}</a>
      </div>
      <div class="col-2" align="center"><a href="/dashboard/job/{{ job.jobs.job_id }}">{{ job.jobs.title }}</a></div>
      <div class="col-2" align="center">{{ job.job_codes.description }}</div>
      <div class="col-2" align="center">{{ job.date_created }}</div>
      <div class="col-2" align="center">{{ job.jobs.notes }}</div>
    </div>
  <div><hr></div>
  {% endfor %}

</div>


{% endblock %}
