{% extends 'base.html' %}

{% block content %}

<table class="table">
  <!-- TABLE HEADERS -->
  <thead>
    <tr>
      <th scope="col-2">Company</th>
      <th scope="col-2">Job</th>
      <th scope="col-2">Status</th>
      <th scope="col-1">Date</th>
      <th scope="col-2">Tasks</th>
      <th scope="col-1">Due</th>
    </tr>
  </thead>

  <!-- TABLE ROWS -->
  <tbody>
    {% for status in all_active_status %}
      <tr>
        <!-- COMPANY NAME -->
        <td>
              <a href="/dashboard/companies/{{ status.jobs.companies.company_id }}">{{ status.jobs.companies.name }}</a>

        </td>

        <!-- JOB TITLE -->
        <td>
          <form action="/dashboard/jobs/{{ status.jobs.job_id }}" method="GET">
            <input type="hidden" name="edit" value="edits-off">
            <button type="button submit" class="btn btn-link">{{ status.jobs.title }}</button>
          </form>
        </td>

        <!-- DROP DOWN STATUS MENU -->
        <td>
          <div class="dropdown">
            <form action="/dashboard/job-status" method="POST">

              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ status.job_codes.description }}
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input type="hidden" name="job_id" value="{{ status.job_id }}">

                <button class="dropdown-item submit" type="submit" name="job_code" value="1">
                  Interested
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="2">
                  Applied
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="3">
                  Phone interview
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="4">
                  On-site interview
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="5">
                  Received offer
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="6">
                  Accepted offer
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="7">
                  Declined offer
                </button>

                <button class="dropdown-item submit" type="submit" name="job_code" value="8">
                  No job offer
                </button>
              
              </div>
            </form>
          </div>
        </td>

        <!-- DATE LAST MODIFIED -->
        <td>
          {{ status.date_created.strftime('%-m/%-d/%y') }}
        </td>

        <!-- TODO -->
        <td>
          {% for todo in all_todos %}
            {{ todo.todo_codes.description if todo.job_event_id == status.job_event_id else "" }}
          {% endfor %}
        </td>
        <td>
          {% for todo in all_todos %}
            {% if todo.job_event_id == status.job_event_id %}
              {{ todo.date_due.strftime('%-m/%-d/%y') }}
              <form action="/dashboard/archive-task" method="POST">
                <button class="btn" type="submit">
                  <input type="hidden" name="todo_id" value="{{ todo.todo_id }}">
                  <i class="fas fa-archive"></i>
                </button>
              </form>
            {% else %}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
