{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-2" align="center"><h5>Company</h5></div>
    <div class="col-2" align="center"><h5>Job</h5></div>
    <div class="col-2" align="center"><h5>Status</h5></div>
    <div class="col-2" align="center"><h5>Date</h5></div>
    <div class="col-2" align="center"><h5>Notes</h5></div>
    <div class="col-2" align="center"><h5>Archive</h5></div>
  </div>

  {% for status in all_active_status %}
    <div class="row">
      <div class="col-2" align="center">
        {% for company in companies %}
          {% if company.company_id == status.jobs.job_id %}
          {{ company.name }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-2" align="center">{{ status.jobs.title }}</div>
      <div class="col-2" align="center">{{ status.job_codes.description }}</div>
      <div class="col-2" align="center">{{ status.date_created }}</div>
      <div class="col-2" align="center">{{ status.jobs.notes }}</div>
      <!-- DROP DOWN ARCHIVE MENU -->
      <div class="col-2" align="center">
        <div class="dropdown">
          <form action="/dashboard/archive-job" method="POST">

            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-archive"></i>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <input type="hidden" name="job_id" value="{{ status.job_id }}">
              <button class="dropdown-item submit" type="submit" name="job_code" value="8">Accepted offer</button>
              <button class="dropdown-item submit"  name="job_code" value="9">Declined offer</button>
              <button class="dropdown-item submit"  name="job_code" value="10">No job offer</button>
            </div>

          </form>
        </div>
      </div>
      <!-- END DROP DOWN -->

    </div>
  {% endfor %}

</div>


{% endblock %}
