{% extends 'landing.html' %}

{% block content %}

<form action="/login" method="POST">

  <!-- EMAIL -->
  <div class="form-group">
    <label>Email: </label>
    <input type="email" class="form-control" name="email">
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" name="password">
  </div>

  <!-- BUTTON -->
  <div class="form-group">
    <button type="button submit" class="btn btn-secondary btn-sm">submit</button>
  </div>
</form>

{% endblock %}
