{% extends 'landing.html' %}

{% block content %}

<form action="/register" method="POST">

  <!-- FIRST NAME -->
  <div class="form-group"
    <label>First name:</label>
    <input type="text" class="form-control" name="fname" placeholder="Jane" required />
  </div>

  <!-- LAST NAME -->
  <div class="form-group">
    <label> Last name:</label>
    <input type="text" class="form-control" name="lname" placeholder="Jobseeker" required />
  </div>

  <!-- EMAIL -->
  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" name="email" placeholder="jane@jobseeker.com" required />
  </div>

  <!-- TELEPHONE (OPTIONAL) -->
  <div class="form-group">
    <label>Phone:</label>
    <input type="tel" class="form-control" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label>password: </label>
      <input type="password" class="form-control" name="password" required />
  </div>

  <!-- BUTTON -->
  <div class="form-group">
    <button type="button submit" class="btn btn-secondary btn-sm">submit</button>
  </div>

</form>

{% endblock %}